@import url("https://fonts.googleapis.com/css2?family=Almendra+Display&family=Astloch:wght@400;700&family=Seaweed+Script&display=swap");

:root {
  position: fixed;
  width: 100%;
  background-color: #fffbe8;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-stroke: 0.5px #0f065f;
}

*,
*::before,
*::after {
  font-family: Almendra Display, Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  color: #0f065f;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  cursor: default;
  box-sizing: border-box;
  user-select: none;
}
